<div class="row space">
	<div class="col-xs-1"></div>
    <div class="col-xs-10">
    	<h1>ユーザー一覧</h1>
    </div>
    <div class="col-xs-1"></div>
</div>

<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
    	<table class="table">
	<thead>
		<tr>
			<th></th>
			<th>ユーザー名</th>
			<th>性別</th>
			<th></th>
		</tr>
	</thead>
	<% @users.each do |user| %>
	<tbody>
		<tr>
			<th><%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size:'100x100', class: 'img-circle profile-thumb my-img edit-img' %></th>
			<td><%= user.user_name %></td>
			<td><%= user.sex %></td>
			<td>
				<%= link_to user_path(user) do %>
					<button class="btn btn-success">詳細</button>
				<% end %>
			</td>
		</tr>
	</tbody>
	<% end %>
</table>
    </div>
    <div class="col-xs-1"></div>
</div>


