// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


///////詳細//////////////////////////////////////////
.user-show1{
	text-align: center;
	padding-top: 30px;
}

.user-show2{
	padding-top: 30px;
}

th{
	width: 25%;
}


.user-show3{
	width:20%;
    height:300px;
    padding: 10px;
    margin:10px;
    float:left;
}


.user-show4{
	text-align: center;
	padding-top: 15px;
}

.user-show5{
	text-align: center;
}

.user-show6{
	padding-bottom: 10px;
}